.focused-movie {
    display: flex;
    max-width: 700px;
    /* height: 500px; */
    background-color: white;
    color: var(--black);
}

.focused-movie img {
    object-fit: cover;
}

.focused-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 5px solid goldenrod; */
    margin: 20px;
    text-align: left;
}

.focused-content h2 {
    margin: 0;
}

@media screen and (max-width: 700px) {
    .focused-movie {
        max-width: 80%;
        height: 500px;
        flex-direction: column;
        overflow-y: auto;
    }
}