.focused-movie {
    display: flex;
    max-width: 700px;
    background-color: white;
    color: var(--black);
}

.focused-movie img {
    width: 100%;
}

.focused-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;
    text-align: left;
}

.focused-content h2 {
    margin: 0;
}

@media screen and (max-width: 700px) {
    .focused-movie {
        max-width: 80%;
        height: 500px;
        flex-direction: column;
        overflow-y: auto;
    }
    .focused-content {
        display: block;
        /* Needed, or the "Add to watchlist" button half disappears on mobile */
    }
}