.watchlist-header {
  text-align: left;
}

.watchlist {
  margin: 0 auto;
  max-width: 1200px;
  /* list-style: none; */
}

.watchlist-content {
  display: flex;
  flex-wrap: wrap;
}

.watchlist ul {
  list-style: none;
  padding: 0;
}

.watchlist-movie {
  margin: 10px;
}

@media screen and (max-width: 1200px) {
  .watchlist {
    margin: 30px;
  }
}