:root {
  --black: #161b1f;
  --dark-grey: #3d4852;
  --white: #ffffff;
  --off-white: #f4f4f5;
}

body {
  background-color: var(--black);
  color: var(--off-white);
  font-family: "Avenir", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

h1,
h2,
h3 {
  font-weight: 400;
  /* margin: 10px; */
}

.App {
  /* max-width: 400px; */
  margin: 0 auto;
  text-align: center;
}
