:root {
  --black: #22292f;
  --dark-grey: #3d4852;
  --white: #ffffff;
}

body {
  background-color: var(--black);
  color: var(--white);
}

.App {
  /* max-width: 400px; */
  margin: 0 auto;
  text-align: center;
}

#main-input {
  width: 300px;
  height: 40px;
  font-size: 20px;
  padding: 5px 10px;
}

#search-btn {
  margin: 0 auto;
  display: block;
  font-size: 1rem;
  margin-top: 30px;
  background-color: var(--white);
  color: var(--black);
  border-radius: 9999px;
  padding: 10px 20px;
  border: none;
  transition: all 0.2s;
}

#search-btn:hover {
  transform: translateY(-1px);
}

.movie-container {
  margin: 0 auto;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
